<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dedra.bukukerjamandor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".splashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/login" />
        <activity
            android:name=".MainActivity"
            android:label="BKM Hari Ini"
            android:theme="@style/navigationDrawer" />
        <activity
            android:name=".view.TambahActivity"
            android:label="Tambah Aktivitas"
            android:theme="@style/navigationDrawer" />
        <activity
            android:name=".view.TambahAktivitasActivity"
            android:label="Tambah Aktivitas"
            android:theme="@style/tambah_activity" />
        <activity
            android:name=".view.TambahMaterialActivity"
            android:label="Tambah Material"
            android:theme="@style/tambah_activity" />
        <activity
            android:name=".view.TambahPegawaiActivity"
            android:label="Tambah Pegawai"
            android:theme="@style/tambah_activity" />
        <activity
            android:name=".view.LihatActivity"
            android:label="Lihat Aktivitas"
            android:theme="@style/lihat_activity" />
        <activity
            android:name=".view.DetailAktivitasActivity"
            android:label="Detail Aktivitas"
            android:theme="@style/lihat_activity" />
        <activity android:name=".register"></activity>
    </application>

</manifest>